@model IEnumerable<InscripcionWeb.Models.Materia>

@{ViewData["Title"] = "Materias Eliminadas";}

<h1>Listado de Materias Eliminadas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AñoCursado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AñoCursado.Nombre)
                </td>
                <td>
                    <a asp-action="Restaurar" asp-route-id="@item.Id">Restaurar</a> |
                    <a asp-action="EliminacionDefinitiva" asp-route-id="@item.Id">Eliminar Definitivamente</a>
                </td>
            </tr>
        }
    </tbody>
</table>